@import url('shared.css');

body > div {
	min-width: 22em;
}

ul {
	font-size: 80%;
	list-style-type: none;
	margin: 0 0.5em;
	padding: 0;
}

ul > li {
	padding: 0.5em 0;
	white-space: nowrap;
}

ul > li > label {
	display: inline-block;
	vertical-align: top;
	width: 10em;
}

ul > li > div {
	display: inline-block;
	vertical-align: top;
}

ul#settings {
	margin: 0.5em;
}

ul#settings > li:first-of-type {
	padding-top: 0;
}

ul#settings > li {
	border-bottom: 1px solid #f0f0f0;
}

ul#settings > li:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

ol {
	display: inline-block;
	vertical-align: top;
	font-size: 90%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol > li {
	padding: 0.1em 0;
	white-space: nowrap;
}

ol > li > label {
	display: inline-block;
	vertical-align: top;
	width: 4em;
}

ol > li > div {
	display: inline-block;
	vertical-align: top;
}

input {
	border: 1px solid #b0b0b0;
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 100%;
}

input[type=range] {
	border: none;
	background: transparent;
}

button {
	border: 1px solid #b0b0b0;
	background-color: #d0d0d0;
	font-family: sans-serif;
	font-size: 100%;
	padding: 1px 1em;
}

button.colorSample {
	width: 3em;
	height: 1.5em;
	border: 1px solid #b0b0b0;
	background-color: white;
	padding: 0;
	margin: 0;
}

select {
	border: 1px solid #b0b0b0;
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 100%;
	padding: 1px 1em;
}

div#url {
	width: calc(100% - 10em);
	min-width: 22em;
	white-space: initial;
	word-wrap: break-word;
	word-break: break-all;
}

div#testModeInfo,
div#resetInfo {
	width: calc(100% - 10em);
	min-width: 22em;
	border: 1px solid #f0f0f0;
	border-radius: 0.5em;
	background: #f0f0f0;
	white-space: initial;
}

div#testModeInfo > p,
div#resetInfo > p {
	margin: 1em;
	text-align: justify;
}

div#textFontInfo {
	font-style: italic;
	font-size: 90%;
}

div#sampleView {
	border: 1px solid #f0f0f0;
	border-radius: 0.5em;
	padding: 0.25em;
}

div#sampleView img {
	display: none;
	vertical-align: top;
}

div#sample {
	overflow: hidden;
	border: 1px solid #f0f0f0;
	border-radius: 0.5em;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXw8PD///9+GcA+AAAAFUlEQVR4AWNghAIGKKC3ABoYaPcAAEUQAIFcwTR+AAAAAElFTkSuQmCC');
	padding: 0;
}

div#sampleText {
	font-family: sans-serif;
	font-size: 250%;
	padding: 0.25em 1em;
}

input#defaultImageURL {
	width: 20em;
}

div#sampleImage {
	overflow: hidden;
	border: 1px solid #f0f0f0;
	border-radius: 0.5em;
	min-width: 15em;
	max-width: 15em;
	min-height: 15em;
	max-height: 15em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#colorDialog {
	display: inline-flex;
	flex-direction: row;
	border: 1px solid rgb(80%, 80%, 80%);
	border-radius: 5px;
}

#colorDialog .details {
	min-width: 0;
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 10px 0 10px 10px;
	padding: 0 10px 0 0;
	border-right: 1px solid rgb(80%, 80%, 80%);
	border-bottom: 0;
}

#colorDialog .sample {
	flex-grow: 1;
	padding: 0;
	margin: 0;
	background-color: white;
	border: 1px solid rgb(80%, 80%, 80%);
	border-radius: 0;
}

#colorDialog .controls {
	min-width: 0;
}

#colorDialog .controls > ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	border-top: 1px solid rgb(80%, 80%, 80%);
	font-size: 100%;
}

#colorDialog .controls > ul > li {
	display: flex;
	align-items: center;
	padding: 10px 0 0;
	white-space: nowrap;
}

#colorDialog .controls label {
	flex-shrink: 0;
	width: 3.5em;
}

#colorDialog .controls input {
	flex-grow: 1;
	min-width: 0;
}

#colorDialog .controls .label {
	flex-shrink: 0;
	width: 2.5em;
	text-align: right;
}

#colorDialog .picker {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#colorDialog .picker > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#colorDialog .picker > div > canvas {
	position: absolute;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#colorDialog .picker .wheel {
	min-width: 150px;
	max-width: 150px;
	min-height: 150px;
	max-height: 150px;
	margin: 10px;
}

#colorDialog .picker .slider {
	min-width: 150px;
	max-width: 150px;
	min-height: 15px;
	max-height: 15px;
	margin: 0 10px 10px;
}

.testModeEnabled,
.resetEnabled,
.authorized,
.unauthorized,
.defaultImageSelected,
.dialog {
	display: none;
}
